<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{head}"></head>
<body>
<header th:replace="~{header}"></header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">Archive</div>
                <div class="card-body">
                    <form method="post" enctype="application/x-www-form-urlencoded" action="/delete">
                        <table class="table table-borderless">
                            <tr>
                                <th>Regex</th>
                                <th>Description</th>
                                <th>Select</th>
                            </tr>
                            <tr th:each="regex: ${entities}">
                                <td th:text="${regex.value}"></td>
                                <td th:text="${regex.description}"></td>
                                <td><input type="radio" name="id" th:value="${regex.id}"
                                           readonly
                                           onclick="document.querySelector('#deleteBtn').removeAttribute('disabled')">
                                </td>
                            </tr>
                        </table>
                        <button id="deleteBtn" type="submit" class="btn btn-outline-danger" disabled>Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>