<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{head}"></head>
<body>
<header th:replace="~{header}"></header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="regex-entities-table" class="card">
                <div class="card-header bg-info text-light">Archive</div>
                <div class="card-body">
                    <form id="update-form" method="post" enctype="application/x-www-form-urlencoded">
                        <table class="table table-borderless">
                            <tr>
                                <th>Regex</th>
                                <th>Description</th>
                                <th>Select</th>
                            </tr>
                            <tr th:each="regex: ${entities}">
                                <td th:text="${regex.value}"></td>
                                <td th:text="${regex.description}"></td>
                                <td><input type="radio" name="id" th:value="${regex.id}" readonly
                                           onclick="enableSubmitButtons()">
                                </td>
                            </tr>
                        </table>
                        <button id="deleteBtn" type="submit" formaction="./delete" class="btn btn-outline-danger"
                                disabled>Delete
                        </button>

                        <button id="editBtn" type="submit" formaction="./edit" class="btn btn-outline-primary"
                                disabled style="float:right">Edit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function enableSubmitButtons() {
        document.querySelectorAll('button[type=submit]').forEach(b => b.removeAttribute('disabled'));
    }
</script>
</body>
</html>