<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{head}"></head>
<body>
<header th:replace="~{header}"></header>
<div class="container">

    <div th:if="${error}" class="alert alert-danger">
        PatternSyntaxException: <i th:text="${error.message}"></i>
    </div>
    <div class="card" id="check-regex-card">
        <div class="card-header">
            Test expression
        </div>
        <div class="card-body">
            <form method="post" enctype="application/x-www-form-urlencoded" action="/">
                <div class="form-group">
                    <label for="regex">Regex</label>
                    <input type="text" class="form-control" id="regex" name="regex"
                           placeholder="Enter a regular expression" th:value="${regex}" required>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="text">Input</label>
                            <textarea class="form-control" id="text" name="text"
                                      placeholder="Enter text to match"
                                      rows="10" th:text="${text}" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="matchers">Matches</label>
                            <textarea id="matchers" class="form-control" th:text="${matchers}" rows="10"
                                      readonly></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="card" id="save-regex-card" th:attr="style=(${matchers} eq null ? 'display:none' : 'display:block')">
        <div class="card-header">
            Comment And Save
        </div>
        <div class="card-body">
            <form method="post" enctype="application/x-www-form-urlencoded" action="/store">
                <div class="form-group">
                    <label for="regex-readonly">Regex</label>
                    <input type="text" class="form-control" id="regex-readonly" name="regex" th:value="${regex}"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input id="description" class="form-control" type="text" name="description"
                           placeholder="Enter a description" th:value="${description}" required>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<br>
<script type="text/javascript" src="index.js"></script>
</body>
</html>
